<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="Example Test" preserve-order="false">
        <parameter name="baseURL" value="https://bbb.testpro.io/"/>
<!--        value must be our koel url/link-->
        <classes>
<!--            <class name="Homework17">-->
<!--                <methods>-->
<!--                    <include name="addSongToPlaylist" />-->
<!--                </methods>-->
<!--            </class>-->
            <class name="MyBaseTest"/>
            <class name="LoginTests"/>
            <class name="POM.pages.LoginPage"/>
            <class name="POM.pages.HomePage"/>
            <class name="POM.pages.BasePage"/>
        </classes>
    </test>
</suite>

<!--<class name="RegistrationTests"/>-->
<!--<class name="ChangeUsernameTests"/>-->
